.header {
  width: 100%;
  height: auto;
  background-color: #fff;

  .container {
    @extend %container;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px 0;

    img {
      max-width: 180px;
      width: 100%;
      height: auto;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    &--menu {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-right: 20px;

        a {
          color: $primary;
        }

        &.header__nav--menu-submenu {
          position: relative;
          text-decoration: underline;
          ul {
            position: absolute;
            z-index: 99;
            top: 100%;
            left: 0;
            transform-origin: top left;
            transform: scale(0);
            transition: all 0.3s;

            li {
              list-style-type: none;
              a {
                color: $primary;
                background-color: #fff;
                display: block;
                width: 100%;
                height: auto;
                padding: 10px 20px;
                transition: all 0.3s;
              }
              &:hover {
                a {
                  background-color: $primary;
                  color: #fff;
                }
              }
            }
          }
          .icon {
            position: absolute;
            right: -10px;
            transition: all 0.3s;
          }
          &:hover {
            .icon {
              position: absolute;
              transform: rotate(180deg);
            }
            ul {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
